<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>关于我 | 雲神</title>
    

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />

    <link href="../css/aboutme.css" rel="stylesheet" />
    
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <base target="_blank">
</head>

<body class="impress-not-supported">

<div class="fallback-message">
    <p>您的浏览器 <b>不支持</b> impress.js的展示要求, 将为您呈现简化版的展示</p>
    <p>为了获取最佳效果，请使用最新版的<b>Chrome</b>, <b>Safari</b> 或 <b>Firefox</b> 浏览器</p>
    <p>珍爱生命，保护地球，远离IE。</p>
</div>

<div id="impress">

    <div id="welcome" class="step white-frame" data-x="-2000" data-y="-2500"  data-rotate-y="-180">
        <p>欢迎打开</p>
        <p><span class="title"><b>浮云记</b></span></p>
        <p><span class="footnote"><sup>*</sup>我叫<span class="name">文雲</span>，这里是我的私密花园</span></p>
        <p><span class="footnote">在这荒芜的土地上，随性播撒一些蹩足的文字</span></p>
    </div>

    <div id="me" class="step" data-x="-1000" data-y="-2500">
        <b class="now_me">曾经的我：</b>
        <ul>
            <li><b class="row1">天真无暇</b></li>
            <li><b class="row2">朝气蓬勃</b></li>
            <li><b class="row3">风流倜(zhou)傥(dang)</b></li>
        </ul>
    </div>

    <div id="dota" class="step" data-x="-1000" data-y="-1900">
        <p>爱好<b class="game">Dota</b></p>
        <p><span class="desc">寝室间内战用巫医豪砍26杀3死12助</span></p>
        <p>人称<b class="yunshen">雲神</b></p>
        <p><span class="desc">一战确定历史地位</span></p>
    </div>

    <div id="beijing" class="step" data-x="-1000" data-y="-1300">
        <p>毕业远征<b class="trans">帝都</b><p>
        <p>苦逼码农生活<sup>*</sup>开始后<br>游戏已跟我渐行渐远<sup>**</sup></p>
        <p><span class="footnote">* 其实不想走，** 其实我想留</span></p>
    </div>

    <div id="ball" class="step" data-x="-1000" data-y="-700">
        <p>依然舍不下的<sup>～</sup></p>
        <p>还有二次元跟篮球<sup>**</sup></p>
        <p><span class="footnote">* 一杯二锅头，** 两行眼泪流</span></p>
    </div>

    <div id="world" class="step" data-x="-1000" data-y="4000"  data-z="900" data-rotate="-90" data-scale="5">
        <p> Is life always this hard, or is it just when you're a kid? </p>
        <p style="float: right">——Always like this. ಥ_ಥ</p>
    </div>

    <div id="work" class="step" data-x="2400" data-y="5300" data-z="2400" data-scale="6" data-rotate="-90">
        <p>拥挤不堪的地铁</p>
        <p>生化危机一般的漫天雾霾</p>
        <p>没有尽头的加班生活</p>
        <p>都让我疲惫不堪</p>
    </div>

    <div id="tiny" class="step" data-x="1300" data-y="6000" data-z="-3000" data-rotate="300" data-scale="1">
    <b>但是</b>
    </div>

    <div id="coder" class="step" data-x="0" data-y="7000" data-z="-3000" data-rotate="300">
        <p>我是一个<b>程序猿</b></p>
        <p>我热爱自己的职业</p>
        <p>求知欲让我时刻保持饥渴</p>
        <p>我享受着用自己双手创造价值的过程</p>
        <p>灰色的外表下面</p>
        <p>
        <span class="t1">涌</span>
        <span class="t2">动</span>
        <span class="t3">着</span>
        <span class="t4">五</span>
        <span class="t5">彩</span>
        <span class="t6">斑</span>
        <span class="t7">斓</span>
        <span class="t8">的</span>
        <span class="t9">激</span>
        <span class="t10">情</span>
        </p>
    </div>

    <div id="mywords" class="step" data-x="4500" data-y="3500" data-z="3000" data-rotate="160">
        <p>也许有一天</p>
        <p>我也会逃离北上广</p>
        <p>回到那生我养我的地方</p>
    </div>

    <div id="grow" class="step" data-x="3500" data-y="-850" data-z="3000" data-rotate="270" data-scale="6">
        <p>但我相信，我永远不会</p>
        <p><b>放下键盘，放下我的枪</b></p>
    </div>

    <div id="knowme" class="step" data-x="-6000" data-y="-800" data-z="0" data-rotate="0" data-scale="1">
        <p>第一次搭建博客，借用了<a href="http://www.leancloud.cn">leancloud</a>的宝地</p>
        <p>所有的博客代码你都可以在<a href="https://github.com/yaliyingwy/ywen-blog">Github</a>找到</p>
    </div>

    <div id="tec" class="step" data-x="-6000" data-y="1000" data-scale="4">
        <p>用到了以下技术：</p>
        <p><a href="https://angularjs.org">angularjs</a> <span>google出品的前端mvc框架</span></p>
        <p><a href="https://github.com/showdownjs/showdown">Showdown</a> <span>markdown语法解析</span></p>
        <p><a href="https://github.com/angular-ui/ui-router">ui-router</a><span> 前端路由</span></p>
        <p><a href="http://www.bootcss.com">bootstrap</a> <span>神马？别告诉我你不知道这个</span></p>
        <p><a href="https://github.com/bartaz/impress.js/">impress.js</a> <span>本文用到的炫酷ppt效果</span></p>
        <p><a href="http://less.bootcss.com">less</a> <span>远离恶心的css编写</span></p>
        <p><a href="http://coffee-script.org/">coffeescript</a> <span>我个人很喜欢这种优雅的语法</span></p>
        <p><a href="http://www.gruntjs.org">grunt</a> <span>自动化工具</span></p>
        
    </div>

    <div id="subcribe" class="step" data-x="-6000" data-y="3100" data-rotate="180" data-scale="4">
        <p>如果你对我感兴趣</p>
        <p>又正好是适龄女青年</p>
        <p>那么</p>
        <p>请联－系－我！！！</p>
    </div>

    <div id="profile" class="step" data-x="-5000" data-y="1000" data-rotate="180" data-rotate-x="-60" data-scale="4">
        <p>附上联系方式</p>
        <p>qq: 562590711</p>
        <p>邮箱: yaliyingwy@gmail.com</p>
        <p>微信：yaliying_562590711</p>
    </div>

    <div id="one-more-thing" class="step" data-x="-1500" data-y="-1100" data-z="0" data-scale="2">
        <p>One More Thing</p>
        <p>其实是一句话，想分享给您</p>
    </div>

    <div id="motto" class="step" data-x="0" data-y="1500" data-z= "6000" data-scale="5">
    <h1>约吗？！</h1>
    </div>

    <div id="back" class="step" data-x="-6000" data-y="5200" data-scale="2">
        <p>附头像一张</p>
        <a href="http://ac-hi9fqobj.clouddn.com/OINke9uLJQvipDahEroOcnSwVqjAhfVaGLAHE7iC.jpg"><img src="http://ac-hi9fqobj.clouddn.com/OINke9uLJQvipDahEroOcnSwVqjAhfVaGLAHE7iC.jpg"/></a>
    </div>

    <div id="overview" class="step" data-x="0" data-y="2500" data-scale="16">
    </div>

</div>

<div class="hint">
    <p>使用空格或方向键继续</p>
</div>
<script>
if ("ontouchstart" in document.documentElement) { 
    document.querySelector(".hint").innerHTML = "<p>在左侧或右侧点击继续</p>";
}
</script>

<script type="text/javascript" src="../js/impress.js"></script>
<script>impress().init();</script>

</body>
</html>